body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
    color: #555;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    height: 150px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label, input, select, textarea {
    display: block;
    margin-bottom: 10px;
}

/* Adicionando um estilo para as opções da lista suspensa */
select option {
    padding: 10px;
}

/* Estilizando a mensagem de sucesso após o envio do formulário */
#success-message {
    text-align: center;
    color: #008000;
    font-weight: bold;
}